* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: 1.1px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	height: 80vh;
	background: url('../imgs/TreeBackground.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

ul li {
	list-style: none;
}

header nav {
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
	display: flex;
	background-color: rgba(247, 246, 246, 0.89);
	box-shadow: 0px -1px 4px 0px #000000;
	padding: 8px 15px;
}

header .brand-logo img {
	width: 40px;
	height: 40px;
	border-radius: 20px 0;
}

header .nav {
	display: flex;
	align-items: center;
	margin-left: 3%;
	gap: 25px;
	text-transform: capitalize;
}

header .nav-item .nav-link {
	font-size: 18px;
	font-weight: 600;
	color: #323232;
	text-decoration: none;
}

header .price-container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-45%, -50%);
}

header .price-container .price-heading {
	text-align: center;
	color: #FFF;
	text-transform: capitalize;
	line-height: 1.6;
	font-size: 37px;
}

.container {
	width: 1200px;
	margin: auto;
}

.price-lists-content {
	margin: 0 15px;
}

.price-lists {
	margin: 20px auto;
	text-align: center;
	display: flex;
	width: 100%;
	gap: 25px;
	padding: 30px 10px;
}

.price-lists::-webkit-scrollbar-track {
	background-color: #e6e6e6;
	border-radius: 30px;
  }

  .price-lists::-webkit-scrollbar {
	width: 10px;
  }

  .price-lists::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px #ed6f38;
	background-color: #ed6f38;
  }

  .price-lists::-webkit-scrollbar {
	height: 4px;

  }

  .price-lists::-webkit-scrollbar-thumb:horizontal {
	background: #e6e6e6;
	border-radius: 30px;
  }

.price-lists-item {
	width: 35%;
	outline: 1px solid #a0a0a0;
	border-radius: 8px;
	overflow: hidden;
	transition: all .300s;
	cursor: pointer;
}

.price-lists-item:hover {
	border-radius: 6px;
	transform: translate(6px, -20px);
	box-shadow: 0px 5px 10px #250e0e46,
		0px -5px 10px #00000056;

}

.price-lists-item .price-lists-item-content {
	padding: 30px 0;
	transition: all .6s;
}

.price-lists-item:hover .price-lists-item-content {
	opacity: .9;
	transform: scale(1.2, 1.03);
}

.price-lists-item:nth-of-type(3):hover .btn-choose {
	background-color: #000;
	color: #FFF;
	transition: all .5s;
}

.price-lists-item:nth-of-type(2):hover .btn-choose {
	background-color: #2C4985;
	color: #FFF;
	transition: all .5s;
}

.price-lists-item:nth-of-type(1):hover .btn-choose {
	background-color: #519251;
	color: #FFF;
	transition: all .5s;
}

.btn-choose {
	padding: 30px 0;
	cursor: pointer;
}

.price-item-name,
.price-available-time {
	font-size: 22px;
	text-transform: uppercase;
	color: #FFF;
	opacity: .7;
}

.price-item {
	font-size: 80px;
	font-weight: 500;
	color: #FFF;
}

.list-pay-contnet {
	background-color: #DBF1E9;

}

.list-pay-item {
	font-size: 17px;
	text-transform: capitalize;
	color: #323232#CCc;
	opacity: .5;
	padding: 15px 0;
	border-bottom: 2px solid #4a76e4;
}

.btn-choose {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 11px 22px;
    font-size: 19px;
    font-weight: 600;
    border-radius: 31px;
    text-transform: capitalize;
    margin: 20px 0;
}

.get-start {
	margin: 50px 0;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.get-start .get-start-content {
    flex: 0 0 45%;
    width: 100%;
}

.get-start .get-start-content-details {
	margin-bottom: 15px;
}

.get-start .get-start-content-details h3 {
	color: #342f33ba;
	font-size: 26px;
	letter-spacing: 4px;
	font-weight: 500;
}

.get-start .get-start-content-details p {
	color: #342f33ba;
	font-size: 17px;
	line-height: 1.6;
	padding: 20px 0;
	text-align: justify;
}

footer {
	background-color: #000;
	text-align: center;
	padding: 15px 0;
}

footer p {
	color: #717171;
	font-size: 18px;
}

footer p a {
	color: #FFF;
	text-decoration-color: #FFF;
	margin: 0 5px;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 100%;
	}
	.price-lists {
		flex-wrap: nowrap;
		overflow-x: auto;
	}
	.price-lists-item {
		min-width: 300px;
	}
}

@media screen and (max-width: 768px) {
	header .price-container {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	header .price-container .price-heading {
		font-size: 27px;
		padding: 0 10px;
		text-align: justify;
		width: 320px;
		margin: auto;
	}
	.get-start .get-start-content {
		flex: 0 0 100%;
		padding: 0 20px;
	}
	.get-start .get-start-content-details h3 {
		font-size: 22px;
	}
	footer p {
		color: #717171;
		font-size: 13px;
		line-height: 1.7;
		font-weight: 600;
		padding-right:1px;
		padding-left:1px;
	}
	header nav {
		justify-content: space-between;
	}
}

@media screen and (max-width: 425px) {
	header .nav-item .nav-link {
		font-size: 14px;
	}
}